body{
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  background-color: grey;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
nav img{
  width: 40px;
  height: 40px;
}
nav a{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
}
nav a:hover{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-right: solid 2px black;
  border-left: solid 2px black;
  background-color: red;
}
nav p{
  margin: 0;
  width: 100%;

}
form{
  margin: 10px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
  height: 100%;
  width: 70%;
  justify-content: center;
  padding: 5px;
}
form p,input{
  text-align: center;
  justify-content: center;
}
form input{
  border-radius: 15px;
  height: 30px;
}
form p{
  width: 49%
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  height: 20px;
}
.item{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.connexion{
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width:60%;
  height: 10%
}
