body{
  background-color: black;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  background-color: grey;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
nav img{
  width: 40px;
  height: 40px;
}
nav a{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
}
nav a:hover{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-right: solid 2px black;
  border-left: solid 2px black;
  background-color: red;
}
nav p{
  margin: 0;
 width: 100%;

}
h1{
  color: white;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: space-around;
}
.container a{
  margin-top: 300px;
  height: 50px;
}
.container .performant{
  width: 50%;
  height: 30%;
}
