body{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  background-color: grey;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
nav img{
  width: 40px;
  height: 40px;
}
nav a{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
}
nav a:hover{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-right: solid 2px black;
  border-left: solid 2px black;
  background-color: red;
}
nav p{
  margin: 0;
  width: 100%;

}
.item{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.valider{
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width:30%;
  height: 15%
}
.Article{
  border: solid black 1px;
  width: 100%;
  margin: 5px;
  justify-content: space-around;
}
p{
  margin-top: 30px;
}
.nbarticle{
  width: 50px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 25px;
}
.nbitem{
  width: 30px;
}
