
body{
  background-color: white;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  background-color: grey;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}
nav img{
  width: 40px;
  height: 40px;
}
nav a{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
}
nav a:hover{
  font-size: 18px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 16%;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-right: solid 2px black;
  border-left: solid 2px black;
  background-color: red;
}
Actuelle{
  background-color: white;
}
Actuelle a{
  width: 100%;
}
Actuelle a:hover{
  width: 100%;
}
Actuelle p{
color: red;
}

nav p{
  margin: 0;
  width: 100%;

}
.container{
  display: flex;
  flex-wrap: wrap;
}
.blockitem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 89%
}
.blockitem img{
  width: 300px;
  height: 300px;
}
.item{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  border: solid 1px black;
  margin-top: 10px;
}
.item p{
  font-size: 16px;
  height: 20px;
  width:  300px;
  margin: 0px;
  text-align: center;
  color: black;
}
p nom{
  font-size: 16px;
}
p description{
  font-size: 12px;
}
p prix{
  font-size: 20px;
  font-weight: bold;
}

.infos{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  height: 700px;
  width: 10%;
  padding-right: 5px;
}
.infos a{
  font-weight: bold;
  color: black;
  height: 70px;
  width: 100%;
}
.infos img{
  height: 50px;
  width: 50px;
}
